body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0px;
}

button {
    border: none;
    padding: 4px 14px;
    margin-left: 4px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(255, 223, 228);
}

.input-area {
    background-color: #c1ffff;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

input {
    border-radius: 8px;
    border: none;
    padding: 6px 16px;
    outline: none;
}

.title {
    text-align: center;
}

.list-row {
    display: flex;
    padding-bottom: 5px;
}

.todo-area {
    background-color: #c6ffe2;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.done-area {
    background-color: #ffffe0;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}